.login-wrapper {
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    background-color: var(--main-color);
    color: white;
}
.login-form {
    margin: auto;
    display: flex;
    align-items: center;
    height: 70%;
    width: 40%;
    flex-direction: column;
    background-color: var(--sub-color);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 20px;
}

.login-header {
    font-size: 50px;
    font-weight: 600;
    margin-top: 20px;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

.login-input-container input {
    width: 80%;
    border-radius: 10px;
    height: 40px;
    border: 0;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 600;
    color: var(--main-color);
}
.login-input-container input:focus {
    outline: 0px;
}

.login-input-container a {
    text-decoration: none;
    color: white;
    text-align: right;
    width: 100%;
}

.login__button {
    width: 80%;
    border: 0px;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color);
}
.login-register-ask {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.login-register-ask__span {
    width: 100%;
    text-align: right;
    margin-top: 10px;
    margin-bottom: 5px;
}

.login-register__button {
    width: 80%;
    border: 0px;
    border-radius: 5px;
    height: 50px;
    font-size: 20px;
    font-weight: 700;
    color: var(--main-color);
}
